.header {
    width: 100%;
    padding: 10px 0;

    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2;

    &--fixed {
        background-color: #FFFFFF;
        box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);

        position: fixed;
        top: 0;

        animation: header-show $fastTransition;

        @keyframes header-show {
            0% {
                opacity: 0;
                transform: translateY(-101%);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    // .header__container

    &__container {
        display: flex;
        align-items: center;

        position: relative;
        z-index: 2;
    }

    // .header__nav

    &__nav {
        display: flex;
        margin-right: 20px;
    }

    // .header__logo

    &__logo {
        
        @include mediaMin($xlarge) {
            margin-right: 56px;
        }
    }

    // .header__nav-items

    &__nav-items {
        display: flex;
        align-items: center;

        @include mediaMax($xlarge) {
            display: none;
        }
    }

    // .header__nav-item

    &__nav-item {

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    // .header__nav-link

    &__nav-link {
        @include fontSizeLineHeight(14px, 24px);

        color: #272323;
        text-decoration: none;

        transition: color $fastTransition;

        &:hover,
        &:focus {
            color: #4238AF;
        }
    }

    // .header__search

    &__search {
        margin-left: auto;

        @include mediaMin($medium) {
            margin-right: 26px;
        }
    }

    // .header__auth

    &__auth {

        @include mediaMax($medium) {
            display: none;
        }
    }

    // .header__link

    &__link {
        color: #272323;
        text-decoration: none;

        &:first-child {
            color: #4238AF;
        }

        transition: color $fastTransition;

        &:hover,
        &:focus {
            color: $accentColor;
        }
    }

    // .header__burger

    &__burger {
        flex-shrink: 0;
        margin-left: 40px;
    }

    // .header__mobile-menu

    &__mobile-menu {}

    &__burger,
    &__mobile-menu {
        @include mediaMin($xlarge) {
            display: none;
        }
    }
}