.hero {
    background-color: #F5F7FF;

    // .hero__container

    &__container {
        background-image: 
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), 
            url('../img/hero/hero-bg.png'), 
            url('../img/hero/circles.svg');
        background-repeat: no-repeat;
        background-position: 
            center, 
            bottom right 120px, 
            bottom 156px right 30px;
        background-size: auto, 479px auto, auto;

        @include mediaDPR2() {
            background-image: 
                linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                url('../img/hero/hero-bg@2x.png'),
                url('../img/hero/circles.svg');;
        }

        @include mediaMax($large) {
            background-image: 
                linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
                url('../img/hero/hero-bg.png'), 
                url('../img/hero/circles.svg');
        }

        @include mediaMaxDPR2($large) {
            background-image: 
                linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
                url('../img/hero/hero-bg@2x.png'),
                url('../img/hero/circles.svg');
        }

        @include mediaMax($small) {
            background-position: 
                center, 
                bottom right, 
                bottom 156px right -90px;
        }
    }

    // .hero__content

    &__content {
        width: 48%;
        padding-top: 193px;
        padding-bottom: 126px;

        @include mediaMax($large) {
            width: 75%;
        }

        @include mediaMax($medium) {
            width: 100%;
        }

        @include mediaMax($small) {
            padding-top: 120px;
            padding-bottom: 70px;
        }
    }

    // .hero__title

    &__title {
        margin-bottom: 18px;

        font-family: 'Prompt';
        @include fontSizeLineHeight(45px, 55px);
        font-weight: 400;
        color: $primaryTextColor;
        letter-spacing: 0.07em;

        @include mediaMax($medium) {
            font-size: 36px;
        }

        span {
            color: $accentColor;
        }
    }

    // .hero__subtitle

    &__subtitle {
        margin-bottom: 30px;

        @include fontSizeLineHeight(14px, 24px);
        color: $subtitleTextColor;

        @include mediaMax($large) {
            color: $primaryTextColor;
        }
    }

    // .hero__buttons

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -10px -17px;

        font-size: 16px;
    }

    &__button,
    &__watch {
        margin: 10px 17px;
    }

    // .hero__button

    &__button {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }

    // .hero__watch
    
    &__watch {
        @extend %button-reset;
        display: flex;
        align-items: center;

        transition: color $fastTransition;

        &:hover,
        &:focus {
            color: $accentColor;

            .hero__icon {
                background-color: $accentColor;
            }

            svg {
                fill: #FFFFFF;
            }
        }
    }

    // .hero__icon

    &__icon {
        width: 44px;
        height: 44px;
        margin-right: 10px;

        background-color: #FFFFFF;
        border-radius: 50%;

        position: relative;

        transition: background-color $fastTransition;

        svg {
            width: 23px;
            height: 23px;

            fill: $accentColor;

            @extend %center;

            transition: fill $fastTransition;
        }
    }
}