.statistics {
    padding-top: 60px;
    padding-bottom: 60px;

    // .statistics__container

    &__container {}

    // .statistics__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -20px 0;
        padding: 74px 115px;

        @include mediaMax($large) {
            padding: 40px 60px;
        }

        @include mediaMax($small) {
            padding: 20px 30px;
        }

        background-color: #CED5F4;
        border-radius: 30px;
    }

    // .statistics__item

    &__item {
        margin: 20px 0;

        text-align: center;

        @include mediaMax($medium) {
            flex-basis: calc(100% / 2);
        }

        @include mediaMax(400px) {
            flex-basis: 100%;
        }
    }

    // .statistics__number

    &__number {
        margin-bottom: 14px;

        font-family: 'Oswald', 'sans-serif';
        @include fontSizeLineHeight(40px, 50px);
        color: #584EC6;
    }

    // .statistics__text

    &__text {
        @include fontSizeLineHeight(16px, 24px);
        color: #FFFFFF;
    }

}