.title {
    font-family: 'Oswald', 'sans-serif';
    @include fontSizeLineHeight(40px, 50px);
    font-weight: 400;
    color: $primaryTextColor;
    letter-spacing: 0.05em;

    @include mediaMax($medium) {
        font-size: 32px;
    }
}